@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow&display=swap');
h1 {
    font-family: 'Londrina Shadow', cursive;
    color: lightblue;
}

#card-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
}